/*----------------------------*/
/*ROOT*/
/*----------------------------*/
:root {
    --colorBody: #252525;
    --colorBodySec: #ffffff;
    --colorPrimary: rgb(194, 213, 23);
    --colorCards: #fffaf5;

    --colorButton:  rgb(194, 213, 23);
    --colorButtonHover: rgb(224, 243, 57);
    --colorButton2: #7A1FA2;
    --colorButtonHover2: #4d1a63;
    --colorButtonHover3: #25CD45;

    --colorTextPrimary: #ffffff;
    --colorTextSecondary: #000000;

    --colorScroll:  rgb(194, 213, 23);
    --colorScrollBg: #1f1f1f;

    --colorHeader: #131212;

    --colorAccordionHeader: #000000;
    --colorAccordionHeaderActive: #000000;
    --colorAccordionText: #000000;
    --colorAccordionCollapsed: rgb(194, 213, 23);
    --colorAccordionBody: #fffaf5;
    --colorAccordionBodyCollapsed: #fffaf5;

    --colorFooter: #1a1a1a;
    --colorFooter2: #171717;
}

/*----------------------------*/
/*RESET*/
/*----------------------------*/
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*----------------------------*/
/*BODY*/
/*----------------------------*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--colorBody);
}

/*----------------------------*/
/*LOADING SCREEN*/
/*----------------------------*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBody);
    z-index: 9999 !important;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--colorPrimary);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
    transform: rotate(0turn);
    }
    to {
    transform: rotate(1turn);
    }
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--colorScrollBg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary);
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1f1f1f;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--colorPrimary) var(--colorScrollBg);
}

/*----------------------------*/
/*NAVBAR*/
/*----------------------------*/
header {
    z-index: 999 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorBody);
    /*
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    */
}

.navbar {
    z-index: 100 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#brand-logo {
    max-height: 28px;
}

.nav-item a {
    margin-left: 15px;
    color: var(--colorTextPrimary);
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-weight: bold;
}

.nav-link.active {
    background-color: transparent !important;
    color: var(--colorPrimary) !important;
}

.nav-link:hover {
    font-weight: bold;
    color: var(--colorButtonHover);
}

.nav-link {
    text-align: center;
}

.nav-tabs button {
    color: var(--colorTextPrimary);
    text-decoration: none;
}

.tab-content {
    color: var(--colorTextPrimary);
}

/*----------------------------*/
/*MEDIA QUERIES*/
/*----------------------------*/
/*Navbar Dropdown menu breakpoint to mobile*/
@media (max-width: 991px) {    
    .nav-link.active {
        color: var(--colorPrimary);
        border-bottom: none;
    }
}

/*Hero Section Motto*/
@media (min-width: 570px) and (max-width: 769px) {
    .motto {
        font-size: 9.5rem;
    }
}
@media (min-width: 460px) and (max-width: 569px) {
    .motto {
        font-size: 7.6rem;
        bottom: 26%;
    }
}
@media (min-width: 361px) and (max-width: 459px) {
    .motto {
        font-size: 7.6rem !important;
        bottom: 28% !important;
    }
}
@media (min-width: 1px) and (max-width: 360px) {
    .motto {
        font-size: 6.8rem !important;
        bottom: 28% !important;
    }
}

/*----------------------------*/
/*MAIN SECTION*/
/*----------------------------*/
.banner {
    display: flex;
    justify-content: space-around;
    height: 100svh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.container-parallax .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.motto {
    line-height: 0.8;
    left: 0;
    bottom: 18%;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 12rem;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--colorTextPrimary);
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

#parallax {
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(/src/img/1-background\ parallax.webp);
    background-size: cover;
    background-position: center;
}

.container-parallax .bg-1 {
    background-image: url(/src/img/2-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-2 {
    background-image: url(/src/img/3-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-3 {
    background-image: url(/src/img/4-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-4 {
    background-image: url(/src/img/5-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-5 {
    background-image: url(/src/img/6-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-6 {
    background-image: url(/src/img/7-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-7 {
    background-image: url(/src/img/8-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-8 {
    background-image: url(/src/img/9-background\ parallax.webp);
    pointer-events: none;
}

/*
.container-parallax .bg-9 {
    background-image: url(/src/img/9-background\ parallax.webp);
    pointer-events: none;
}
*/

/*----------------------------*/
/*BUTTONS*/
/*----------------------------*/
.cta-link {
    text-decoration: none;
}

.button-cta, .button-cta-whats {
    background-color: var(--colorButton);
    color: var(--colorTextSecondary) !important;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    width: 200px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
}

.button-cta-aiq {
    background-color: var(--colorButton);
    color: var(--colorTextSecondary) !important;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    width: 200px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
}

.button-cta:hover {
    background-color: var(--colorButtonHover);
}

.button-cta-whats:hover {
    background-color: var(--colorButtonHover3);
    color: var(--colorTextPrimary) !important;
}

.button-cta-aiq:hover {
    background-color: var(--colorButtonHover2);
    color: var(--colorTextPrimary) !important;
}

.color-headline {
    color: var(--colorPrimary);
}

.order_icon, .order_icon2 {
    max-height: 30px;
    filter: brightness(0%);
    transition: ease-in-out 0.5s;
}

.button-cta-aiq:hover .order_icon2,
.button-cta-whats:hover .order_icon {
    filter: brightness(1000%);
}

.img-order {
    max-width: 550px; 
    border-radius: 5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
}

/*----------------------------*/
/*ABOUT SECTION*/
/*----------------------------*/
#about {
    background-color: var(--colorBodySec);
    color: var(--colorTextSecondary);
    font-size: 1.1rem;
}

.img-about {
    margin: 0 ; 
    max-height: 650px;
    border-radius: 5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.photo-sub {
    color: grey;
}

.container-right-about p{
    color: var(--colorTextSecondary);
    font-weight: 400;
}

@media (max-width: 991px) {
    .img-about { 
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }

    .photo-sub {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-about-left {
    max-height: 100%;
    max-width: 90%;
    align-self: center;
    transition: 0.5s ease-in-out;
}

.img-about-left:hover {
    transform: scale(1.05);
}

.icon-certificates {
    text-decoration: none;
}

.icon-certificates:hover {
    text-decoration: none;
}

.icon-certificates img {
    max-height: 48px;
    transition: ease-in-out 0.5s;
}

.icon-certificates img:hover {
    max-height: 48px;
    transform: scale(1.08);
}

/*----------------------------*/
/*MENU SECTION*/
/*----------------------------*/
p.card-text a {
    pointer-events: auto !important;
}

#services {
    color: var(--colorTextSecondary);
    width: 100%;
    background-color: var(--colorBodySec);
    font-size: 1.1rem;
}

.container-services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
}

@media (max-width: 575px) {
    .container-services {
        display: block;
    }
}

.card-icon {
    object-fit: contain;
}

.card {
    color: var(--colorTextSecondary);
    background-color: var(--colorCards);
    border-color: transparent;
    outline: none;
    border-radius: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.card-header {
    padding-top: 15px;
}

.card-header-link {
    text-decoration: none;
    color: var(--colorTextSecondary);
    transition: ease-in-out 0.5s;
}

.card-header-link:hover {
    text-decoration: none;
    color: var(--colorPrimary);
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    flex-direction: column;
    justify-content: center;
}

.card-body h5, .card-body p {
    color: var(--color-text) !important;
}

.card-text {
    min-height: 55px;
}

.card video {
    width: 100%;  
    height: auto; 
    max-height: 400px; 
}

.card img, .card video {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
/*----------------------------*/
/*FEEDBACK*/
/*----------------------------*/
#feedback {
    background-color: var(--colorBodySec);
    color: var(--colorTextSecondary);
    font-size: 1.1rem;
}

.carousel-item .d-flex {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.card-carousel {
    width: 100%;
    max-width: 350px; 
    border-radius: 25px;
}

.card-carousel-body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

/*----------------------------*/
/*SOCIAL MEDIAS*/
/*----------------------------*/
.text-link {
    color: var(--colorTextSecondary);
    cursor: pointer;
}

.text-link:hover {
    color: var(--colorPrimary) !important;
}

#social-media {
    color: var(--colorTextSecondary);
    width: 100%;
    background-color: var(--colorBodySec);
}

.text-p {
    font-size: 1.2rem !important;
}

/*----------------------------*/
/*FAQ*/
/*----------------------------*/
#faq {
    color:  var(--colorTextSecondary);
    background-color: var(--colorBodySec); 
}

#faq .container p {
    color:  var(--colorTextSecondary);
}

.accordion-item {
    border: transparent;
    margin-bottom: 10px;
    background-color: var(--colorAccordionBody);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.accordion-button {
    border: none; 
    outline: none; 
    box-shadow: none;
    background-color: var(--colorTextPrimary);
    color:  var(--colorAccordionText);
}

.accordion-button:not(.collapsed) {
    background-color: var(--colorAccordionCollapsed); 
    color: var(--colorAccordionHeaderActive); 
    font-weight: bold;
}

.accordion-body {
    background-color: var(--colorAccordionBodyCollapsed);
    color: var(--colorTextSecondary);
}

/*Accordion button to collapse*/
.accordion-button::after {
    transition: transform 0.3s ease; 
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg); 
}

/*----------------------------*/
/*ORDERS*/
/*----------------------------*/
#order {
    background-color: var(--colorBodySec);
    color: var(--colorTextSecondary);
    font-size: 1.1rem;
}

.img-order2 {
    max-width: 95%; 
    border-radius: 5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.3);
}

/*----------------------------*/
/*FOOTER*/
/*----------------------------*/
#info {
    background-color: var(--colorFooter)!important;
    border-bottom: 3px solid !important;
    border-color: var(--colorPrimary) !important;
}

.follow-us-footer {
    color: var(--colorTextPrimary);
}

#info-container {
    background-image: url(./images/noisepattern.webp);
    background-color: var(--colorFooter) !important;
    color: var(--colorTextPrimary);
    border-color: var(--colorFooter) !important;
}

#footer-foot-note {
    background-image: url(./images/noisepattern.webp);
    background-color: var(--colorFooter) !important;
    padding-bottom: 1rem;
}

.footer-menu1 p a:hover {
    color: var(--colorPrimary) !important;
}

#footer-info {
    text-align: center;
}

#footer-logo {
    max-height: 100px;
    transition: 0.5s ease-in-out;
}

#footer-logo:hover {
    transform: scale(1.05);
}

#footer-social-links a svg {
    text-decoration: none !important;
}

#footer-social-links a svg {
    color: var(--colorPrimary);
    margin-left: 10px !important;
    transition: 0.5s ease-in-out;
}

#footer-social-links a svg:hover {
    color: var(--colorButtonHover);
}

#footer-social-links a {
    text-decoration: none; 
}

.contact-footer {
    vertical-align: center !important;
    align-items: center;
    align-content: center;
}

#footer-foot-note {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

#footer-foot-note span {
    color: #dfdfdf !important;
    margin-right: 10px;
}

#footer-developed-by {
    font-weight: bold;
}

#footer-developed-by a {
    color: rgb(233, 233, 233) !important;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#footer-developed-by a:hover {
    color: var(--colorPrimary) !important;
    text-decoration: underline;
}

/*----------------------------*/
/*ANIMATIONS*/
/*----------------------------*/
@keyframes loading{
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes fade-down{
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up{
    from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes rotate{
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

/*Scroll animation*/
.hidden-element {
    opacity: 0 !important;
    transition: all 1.5s;
    filter: blur(5px);
    contain: layout;
    will-change: transform;
}

.translate-left {
    transform: translatey(-80px);
}

.translate-right {
    transform: translatey(80px);
}

.translate-up {
    transform: translatey(80px);
}

.translate-down {
    transform: translatey(-80px);
}

.show {
    opacity: 1 !important;
    filter: none;
    transform: translateX(0);
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/*Sections w/ animations*/
.fade-up {
    transition: ease-in-out;
    animation: fade-up 0.55s ease;
}

.fade-down {
    transition: ease-in-out;
    animation: fade-down 0.55s ease;
}